﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="main.aspx.cs" Inherits="code_main" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 100%;
        }
        .auto-style2 {
            height: 26px;
        }
        .auto-style3 {
            height: 112px;
        }
        .auto-style5 {
            height: 345px;
            width: 70%;
        }
        .auto-style6 {
            height: 38px;
        }
        .auto-style7 {
            width: 70%;
        }
        .auto-style8 {
            height: 38px;
            width: 70%;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <table class="auto-style1">
            <tr>
                <td class="auto-style3" colspan="2"></td>
            </tr>
            <tr>
                <td class="auto-style2" colspan="2"></td>
            </tr>
            <tr>
                <td class="auto-style5">
                <tr class="tr2">
                    <td colspan="3"  class="auto-style7" ></td>
                    <td class="12" ></td>
                    <td class="12" ></td>
                    </tr>
                <tr class="tr2">
                    <td class="auto-style8" ></td>
                    <td class="auto-style6" ></td>
                    <td class="auto-style6" ></td>
                    </tr>
                </td>
                <td class="auto-style5"></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
        </table>
    
    </div>
    </form>
</body>
</html>
