﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="code_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link href="../Content/Site.css" rel="stylesheet" />
    <script src="../Scripts/bootstrap.js"></script>
    <style type="text/css">
        body {
            margin:3px;
        }
        .pice {
            margin-left:10px;
        }
        .auto-style1 {
            height: 154px;
            width: 71%;
        }
        .auto-style2 {
            height: 60px;
            width: 71%;
        }
        .auto-style5 {
            width: 80%;
        }
        .auto-style6 {
            width: 88%;
            height: 851px;
        }
        .auto-style7 {
            width: 275px;
        }
        .auto-style8 {
            width: 270px;
        }
                td {
         /*margin:5px;*/
          background-color:black
        }
        .s {
            border:2px solid white;
            font-style:oblique;
        }
        .img {
            height:329px;
            background-color:black;
            width: 388px;
            margin-left: 0px;
        }
        .contant {
            background-color:green;
            height:210px;
            width: 385px;
        }

        .auto-style9 {
            border: 2px solid white;
            font-style: oblique;
            width: 211px;
        }

        .sp {
            text-align:center !important;
            color:black;
            font-size:20px;
            font-weight:bold;
            font-style:italic;
            background-color:red;
            text-align:center !important;
        }

        .auto-style11 {
            width: 296px;
        }
        .contant {
            background-color:red;
        }
        a {
            color:red;
        }
        td {
            padding:30px;
            border:3px solid white;
        }
    </style>
    </head>
<body style="height: 1123px">
    <form id="form1" runat="server">
    
        <table style="width:100%; height: 100%;">
            <tr>
                <td  class="auto-style1">
                    <div class="head">
                        <img src="../11.gif" style="width: 100%" />

                    </div>

                </td>
            </tr>
            <tr>
                <td style="background-color:blue"  class="auto-style2">
                    <div class="menu " style="height:100%;width:100%">
                        <nav style="height:100%;width:100%;background-color:navy"  class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">spicestore</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li><a href="../Default4.aspx">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="rejester.aspx"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="log.aspx"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
                    </div>

                </td>
            </tr>
            <tr>
                
                <td " class="auto-style3" style="width:100%;background-color:black;border-color:black">
                    <table style="width:100%; height: 100%;width:100%">
                        <tr>
                            <td style="border-color:black" class="auto-style5">
                                <table style="border-color:black" class="auto-style6">
                                    <tr>
                                        <td style="margin-right:60px" class="auto-style9">
                                            &nbsp;<span class="sp"  > فروش ویژه</span>
                                            <div class="img">
                                                <img  style="height:300px;width:739px; margin-left:35px; margin-right: 20px; margin-top: 0px; margin-bottom: 0px;"  src="../ادویه/4.jpg" />
                                            </div>
                                            <div class="contant">
                                                <br />
                                                <asp:TextBox ID="TextBox4" runat="server" Height="135px" TextMode="MultiLine" Width="332px"></asp:TextBox>
                                                <br />
                                                <asp:Button ID="Button4" runat="server" Text="خرید" Height="27px" OnClick="Button4_Click" Width="102px" />

                                            </div>
                                        </td>
                                        <td style="margin-right:10px" class="pice auto-style7">&nbsp;<span class="sp"  > فروش ویژه</span>
                                            <div class="img">
                                               <img  style="height:300px;width:388px; text-align:center;margin-left:35px; margin-right: auto; margin-top: 0px; margin-bottom: 0px;"  src="../ادویه/3.jpg" />
                                            </div>
                                            <div class="contant">
                                                <br />
                                                <asp:TextBox ID="TextBox3" runat="server" Height="134px" TextMode="MultiLine" Width="336px"></asp:TextBox>
                                                <br />
                                                <asp:Button ID="Button3" runat="server" Text="خرید" Height="21px" OnClick="Button3_Click" Width="147px" />

                                            </div>
                                        </td>
                                        <td class="pice auto-style8 s">&nbsp;<span class="sp"  > فروش ویژه</span>
                                            <div class="img">
                                              
                                                 <img  style="height:300px;width:378px; margin-left:35px"  src="../ادویه/2.jpg" />
                                            </div>
                                            
                                            <div class="contant">
                                                <br />
                                                <asp:TextBox ID="TextBox2" runat="server" Height="136px" TextMode="MultiLine" Width="333px"></asp:TextBox>
                                                <br />
                                                <asp:Button ID="Button2" runat="server" Text="خرید" Height="22px" OnClick="Button2_Click" Width="143px" />
                                                
                                            </div>
                                        </td>
                                        <td class="auto-style11" >&nbsp;<span class="sp"  > فروش ویژه</span> 
                                            <div class="img">
                                                
                                                <img  style="height:300px;width:345px; margin-left:35px; margin-right: auto; margin-top: 0px; margin-bottom: 0px;"  src="../ادویه/1.jpg" />
                                            </div>
                                            <div class="contant">
                                                <br />
                                                <asp:TextBox ID="TextBox1" runat="server" Height="135px" TextMode="MultiLine" Width="317px"></asp:TextBox>
                                                <br />
                                                <asp:Button ID="Button1" runat="server" Text="خرید" Height="26px" OnClick="Button1_Click" Width="127px" />

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pice auto-style9">&nbsp;<span class="sp"  > فروش ویژه</span>
                                            <div class="img">
                                                <img  style="height:300px;width:806px; margin-left:35px; margin-right: auto; margin-top: 0px; margin-bottom: 0px;"  src="../ادویه/10.jpg" />
                                            </div>
                                            <div class="contant">
                                                <br />
                                                <asp:TextBox ID="TextBox8" runat="server" Height="151px" TextMode="MultiLine" Width="334px"></asp:TextBox>
                                                <br />
                                                <asp:Button ID="Button8" runat="server" Text="خرید" Height="23px" OnClick="Button8_Click" Width="117px" />

                                            </div>
                                        </td>
                                        <td style="margin-right:10px" class="pice auto-style7">&nbsp;<span class="sp"  > فروش ویژه</span>
                                            <div class="img">
                                                <img  style="height:300px;width:384px; margin-left:35px; margin-right: auto; margin-top: 0px; margin-bottom: 0px;"  src="../ادویه/8.jpg" />
                                            </div>
                                            <div class="contant">
                                                <br />
                                                <asp:TextBox ID="TextBox7" runat="server" Height="146px" TextMode="MultiLine" Width="328px"></asp:TextBox>
                                                <br />
                                                <asp:Button ID="Button7" runat="server" Text="خرید" Height="28px" OnClick="Button7_Click" Width="96px" />

                                            </div>
                                        </td>
                                        <td style="margin-right:10px" class="pice auto-style8 s">&nbsp;<span class="sp"  > فروش ویژه</span>
                                            <div class="img">
                                                <img  style="height:300px;width:379px; margin-left:35px; margin-right: auto; margin-top: 0px; margin-bottom: 0px;"  src="../ادویه/7.jpg" />
                                            </div>
                                            <div class="contant">
                                                <br />
                                                <asp:TextBox ID="TextBox6" runat="server" Height="146px" TextMode="MultiLine" Width="339px"></asp:TextBox>
                                                <br />
                                                <asp:Button ID="Button6" runat="server" Text="خرید" Height="26px" OnClick="Button6_Click" Width="93px" />

                                            </div>
                                        </td>
                                        <td class="auto-style11">&nbsp;<span class="sp"  > فروش ویژه</span>
                                            <div class="img">
                                                <img  style="height:300px;width:331px; margin-left:35px; margin-right: auto; margin-top: 0px; margin-bottom: 0px;"  src="../ادویه/6.jpg" />
                                            </div>
                                            <div class="contant">
                                                <br />
                                                <asp:TextBox ID="TextBox5" runat="server" Height="150px" TextMode="MultiLine" Width="325px"></asp:TextBox>
                                                <br />
                                                <asp:Button ID="Button5" runat="server" Text="خرید" Height="21px" OnClick="Button5_Click" Width="107px" />

                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>

                        </tr>
                    </table>
     
                    
                </td>
                
            </tr>
            <tr>
                <td " class="auto-style4"></td>
            </tr>
        </table>
    
  </form>
</body>
</html>
