﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="log.aspx.cs" Inherits="log" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body style="background-image:url('../q.jpg'); background-repeat:no-repeat;background-size:cover; height: 762px;" >
    <form id="form1"  runat="server">
       &nbsp;
    <div class="log" style="background-color:red;height:238px;border:15px solid darkred; width:500px;z-index:5;margin-left:580px;margin-top:320px">
        <div class="log2" style="margin-right:110px;float:right;">
        <br />
        <br />
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <asp:Label ID="Label1" runat="server" Text="نام کاربری"></asp:Label>
        <br />
        <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ErrorMessage="فیلد مورد نظر را پرکنید" ControlToValidate="TextBox1"></asp:RequiredFieldValidator>
            <br />
        <br />
        <asp:TextBox ID="TextBox2" runat="server" TextMode="Password"></asp:TextBox>
        <asp:Label ID="Label2" runat="server" Text="پسورد"></asp:Label>
            <br />
        <br />
        <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" ErrorMessage="فیلد مورد نظر را پرکنید" ControlToValidate="TextBox2"></asp:RequiredFieldValidator>
            <br />
        <br />
        <asp:Button ID="Button1" runat="server" Text="ثبت نام" CausesValidation="False" OnClick="Button1_Click" />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:Button ID="Button2" runat="server" Text="ورود" OnClick="Button2_Click" />
        </div>
        </div>
        <asp:GridView ID="GridView1" runat="server" Visible="False" AutoGenerateColumns="False" DataKeyNames="username" DataSourceID="AccessDataSource1">
            <Columns>
                <asp:BoundField DataField="username" HeaderText="username" ReadOnly="True" SortExpression="username" />
                <asp:BoundField DataField="password" HeaderText="password" SortExpression="password" />
            </Columns>
        </asp:GridView>
        <asp:AccessDataSource ID="AccessDataSource1" runat="server" DataFile="~/Database5.accdb" SelectCommand="SELECT [username], [password] FROM [Table2] WHERE (([username] = ?) AND ([password] = ?))">
            <SelectParameters>
                <asp:ControlParameter ControlID="TextBox1" Name="username" PropertyName="Text" Type="String" />
                <asp:ControlParameter ControlID="TextBox2" Name="password" PropertyName="Text" Type="String" />
            </SelectParameters>
        </asp:AccessDataSource>
    </form>

</body>
</html>
