﻿<%@ Page Language="C#" AutoEventWireup="true"EnableSessionState="True" CodeFile="pro.aspx.cs" Inherits="site_pro" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 100%;
            height: 726px;
        }
        .s1 {
            margin: auto auto;
        }
        .auto-style2 {
            height: 33px;
        }
        .auto-style3 {
            height: 65px;
        }
        .b {
            background-color:orange;
            margin:auto auto;
        }
        .auto-style5 {
            height: 73px;
        }
        .auto-style6 {
            height: 35px;
        }
    </style>
</head>
<body style="background-color:dimgray" >
    <form id="form1" runat="server">
    <div style="margin:0 auto">
    <div class="li">
        <asp:Panel ID="Panel1" runat="server" BackColor="Yellow" Height="137px" style="text-align: center; margin-bottom: 0px">
            <asp:Label ID="Label1" runat="server" Text="spice store" BackColor="Yellow" Font-Bold="True" Font-Italic="True" Font-Size="XX-Large" ForeColor="Black"></asp:Label>
            <br />
            <asp:Label ID="Label2" runat="server" Font-Bold="True" Font-Size="Large" Text="spice store one of the best store in world"></asp:Label>
        </asp:Panel>
        <br />
        <asp:Panel CssClass="s1" ID="Panel2" runat="server" Height="706px" Width="707px">
            <asp:Image ID="Image1" runat="server" Height="302px" Width="702px" />
            <br />
            <asp:DataList Height="500px" ID="DataList1" runat="server" DataKeyField="proid" DataSourceID="SqlDataSource1" style="text-align: center;background-color:orange; margin-top: 97px;" Width="700px" OnSelectedIndexChanged="DataList1_SelectedIndexChanged">
                <ItemTemplate>
                    <table class="auto-style1">
                        <tr>
                            <td class="auto-style6">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" class="auto-style2">
                                <asp:Label ID="Label3" runat="server" Text='<%# Eval("proid") %>' BackColor="Gray" ForeColor="White" Width="600px" Font-Size="XX-Large" Height="88px"></asp:Label>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" class="auto-style3">
                                <asp:Label ID="Label5" runat="server" Text='<%# Eval("protitle") %>' BackColor="Gray" ForeColor="White" Width="594px" Font-Size="XX-Large" Height="84px"></asp:Label>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center" class="auto-style5">
                                <asp:Label ID="Label4" runat="server" Text='R.s' BackColor="Gray" ForeColor="White" Width="590px" Font-Size="XX-Large" Height="106px"></asp:Label>
                            </td>
                        </tr>
                    </table>
                    <asp:Button ID="Button1" runat="server" Text="Button" Height="32px" OnClick="Button1_Click" BorderColor="White" Width="105px" />
                    <br />
                </ItemTemplate>
            </asp:DataList>
        </asp:Panel>
        <br />
        <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:pro3 %>" SelectCommand="SELECT * FROM [product3] WHERE ([proid] = @proid)">
            <SelectParameters>
                <asp:QueryStringParameter Name="proid" QueryStringField="id" Type="Int32" />
            </SelectParameters>
        </asp:SqlDataSource>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <asp:Panel ID="Panel3" CssClass="b" runat="server" Height="417px" Width="954px" Visible="False">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;  <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
            &nbsp;<asp:Label ID="Label8" runat="server" Text="نام خانوادگی" Font-Bold="True" Font-Size="Large"></asp:Label>
            &nbsp; &nbsp;<asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<asp:Label ID="Label7" runat="server" Text="نام" Font-Bold="True" Font-Size="Large"></asp:Label>
            <br />
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
            &nbsp;<asp:Label ID="Label6" runat="server" Text="نام محصول" Font-Bold="True" Font-Size="Large"></asp:Label>
            &nbsp;<asp:TextBox ID="TextBox4" runat="server"></asp:TextBox>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<asp:Label ID="Label12" runat="server" Font-Bold="True" Font-Size="Large" Text="شماره"></asp:Label>
            <br />
&nbsp;<br />
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<asp:TextBox ID="TextBox5" runat="server" Height="17px" Width="164px"></asp:TextBox>
            &nbsp;
            <asp:Label ID="Label11" runat="server" Text="قیمت" Font-Bold="True" Font-Size="Large"></asp:Label>
            &nbsp;&nbsp;&nbsp;&nbsp;<asp:TextBox ID="TextBox6" runat="server"></asp:TextBox>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<asp:Label ID="Label10" runat="server" Text="مقدار" Font-Bold="True" Font-Size="Large"></asp:Label>
            <br />
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<asp:TextBox ID="TextBox7" runat="server" style="margin-left: 0px" Width="508px"></asp:TextBox>
            <asp:Label ID="Label9" runat="server" Text="آدرس" Font-Bold="True" Font-Size="Large"></asp:Label>
        &nbsp;<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:TextBox ID="TextBox8" runat="server" Height="74px" style="margin-left: 0px" TextMode="MultiLine" Width="501px"></asp:TextBox>
            &nbsp;
            <asp:Label ID="Label13" runat="server" Text="توضیحات"></asp:Label>
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            <asp:Button ID="Button2" runat="server" BackColor="Gray" Font-Size="Large" Height="33px" OnClick="Button2_Click" Text="خرید" Width="347px" />
        </asp:Panel>
        </div>
    
    </div>
    </form>
</body>
</html>
