﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="rejester.aspx.cs" Inherits="login" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="Scripts/jquery-1.10.2.js"></script>
    <script src="Scripts/jquery-1.10.2.intellisense.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
        <script>
            var i,g,r;


        $(document).ready(function () {
           // alert("hello");
           // r = 1;
           // for (r = 1; r <= 255; r++) {
            //    $("body").css("background-color","rgb(14,43,68)" );

                //for (g = 1; g <= 255; g++) {
                //    $("body").css("background-color", "rgb(i,g,0)");
                //    //for (b = 1; b <= 255; b++) {
                //    //    $("body").css("background-color", "yellow");



                //    }


                //}


           // }


        });
    </script>
    <style>
        /*.c1 {
            margin-left:250px;
            margin-top:20px;
            margin-right: 0px;
        }
        .bt1 {
            margin-left:180px;
        }
        .bt2 {
            margin-left:170px;
        }
        .la {
            margin-right:3px;
        }*/
        .log2 {
           margin-left:150px;
           /*position:fixed;
           top:200px;
           left:400px;*/
        }
        body { //background-color:black;
        }
    </style>

</head>
<body  style="background-image:url('../s.jpg'); background-repeat:no-repeat;background-size:cover; height: 762px;">
    <form id="form1" runat="server">
        <asp:Panel ID="Panel1" runat="server" CssClass="log" style="height:555px;border:15px solid darkblue ; width:550px; background-color:blue;position:fixed;left:650px; top:100px; margin-top: 0px;">
  <%--<div class="log" style="height:605px; width:600px; background-color:blue;position:fixed;left:411px; top:30px; margin-top: 0px;">%>--%>
    <br />
        <br />
      <br />
            <div class="log2">
            <br />
            <br />

        <asp:TextBox ID="TextBox2" runat="server" Width="231px" CssClass="c1" OnTextChanged="TextBox2_TextChanged" ></asp:TextBox>
 
        <asp:Label ID="Label3" CssClass="la" runat="server" Text="نام کاربری"></asp:Label>
        <br />
        <br />
        <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ErrorMessage="فیلد مربوطه را پر کنید" ControlToValidate="TextBox2"></asp:RequiredFieldValidator><br />
 
        <asp:TextBox ID="TextBox1" CssClass="c1" runat="server" OnTextChanged="TextBox1_TextChanged" Width="231px" TextMode="Password"  ></asp:TextBox>
 
        <asp:Label ID="Label8" CssClass="la" runat="server" Text="پسورد"></asp:Label>
    <br />
            <br />
    <br />

       
   

        <asp:TextBox ID="TextBox3" CssClass="c1" runat="server" Width="228px" TextMode="Password"></asp:TextBox>

    

        <asp:Label ID="Label5" CssClass="la" runat="server" Text="تکرارپسورد"></asp:Label>
        <br />
        <br />
     <asp:CompareValidator ID="CompareValidator1" runat="server" ErrorMessage="فیلد های پسورد باهم هم خوانی ندارد" ControlToValidate="TextBox1" ControlToCompare="TextBox3"></asp:CompareValidator>
        <br />
        <br />
        <asp:TextBox ID="TextBox4" CssClass="c1" runat="server" OnTextChanged="TextBox4_TextChanged" Width="228px"></asp:TextBox>
  
        <asp:Label ID="Label4" CssClass="la"  runat="server" Text="ایمیل"></asp:Label>
        <br />
    <br />
        <asp:RegularExpressionValidator ID="RegularExpressionValidator1" runat="server" ErrorMessage="ایمیل صحیح وارد نشده" ValidationExpression="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" ControlToValidate="TextBox4"></asp:RegularExpressionValidator>
    <br />
        <asp:TextBox ID="TextBox6"  CssClass="c1" runat="server" Width="227px"></asp:TextBox>
    
        <asp:Label ID="Label6" CssClass="la" runat="server" Text="شماره تلفن"></asp:Label>
        <br />
    
      <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" ErrorMessage="فیلد مربوطه را پر کنید " ControlToValidate="TextBox6"></asp:RequiredFieldValidator>
            <br />
    <br />
        <asp:TextBox ID="TextBox5" CssClass="c1" runat="server" Width="226px"></asp:TextBox>
    
        <asp:Label ID="Label7" CssClass="la" runat="server" Text="آدرس"></asp:Label>
    
        <br />
        <asp:RequiredFieldValidator ID="RequiredFieldValidator3" runat="server" ErrorMessage="فیلد مربوطه را پر کنید" ControlToValidate="TextBox5"></asp:RequiredFieldValidator>
    
        <br />
        <asp:Button ID="Button1" runat="server" CssClass="bt1" Text="ورود" CausesValidation="False" OnClick="Button1_Click" />
        <asp:Button ID="Button2" runat="server" CssClass="bt2" Text="ثبت نام" OnClick="Button2_Click" />
            
            
    </div>
    </asp:Panel>
       
        
        <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
        <asp:Timer ID="Timer1" runat="server" OnTick="Timer1_Tick">
        </asp:Timer>
       
        
    </form>

</body>
</html>
